<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="maxScheduledOrder" value="10" />

  </appSettings>
  <connectionStrings>
    <clear />
    <!--<add name="ICTSCPDB" connectionString="Data Source=192.168.3.98,49775;Initial Catalog=eubama40db;Integrated Security=False;User ID=eubama40;Password=eubama40passwd;Network Library=dbmssocn" />-->
    <add name="ICTSCPDB" connectionString="Data Source=192.168.3.49,1433;Initial Catalog=TestDB;Integrated Security=False;User ID=SA;Password=Imech1234!;Network Library=dbmssocn" />
  </connectionStrings>
</configuration>